<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./static/styles.css">
    <title>Migrator</title>
</head>
<body>
{{- /*gotype: github.com/dgmann/document-manager/migrator/http.Server*/ -}}
<div id="database-counts">
    <h1>Anzahl Elemente in der Datenbank</h1>
</div>

<div id="filesystem-counts">
    <h1>Anzahl Elemente im Dateisystem</h1>
</div>

<div>
    <h1>Validierung</h1>
    <button onclick="validate()">Validieren</button>
    <h2>Behebbar</h2>
    <table id="record-table">
        <tr>
            <th>Patientennummer</th>
            <th>Fachrichtung</th>
            <th>Pfad</th>
        </tr>
    </table>
    <h2>Fehler</h2>
    <ul id="validation-errors">
    </ul>
</div>

<div>
    <h1>Status</h1>
    <button onclick="startImport()">Import Starten</button>
    <p>Importierte Befunde {{ len .ImportManager.ImportedRecords }}</p>
    <p>Fehlgeschlagene Befunde {{ len .ImportManager.ImportedRecords }}</p>
    {{if (len .ImportManager.ImportedRecords) gt 0}}
        {{template "record-table" .ImportManager.ImportedRecords}}
    {{end}}
</div>
<script src="./static/script.js"></script>
</body>
</html>

{{define "record-table"}}
    <table>
        <tr>
            <th>Patientennummer</th>
            <th>Fachrichtung</th>
            <th>Pfad</th>
        </tr>
        {{range .}}
            <tr>
                {{- /*gotype: github.com/dgmann/document-manager/migrator/records/models.RecordContainer*/ -}}
                {{ $record := .Record }}
                <td>{{$record.PatId}}</td>
                <td>{{$record.Spez}}</td>
                <td>{{$record.Path}}</td>
            </tr>

        {{end}}
    </table>
{{end}}