<div class="action-bar" fxLayout="row">
  <button mat-menu-item fxFlex (click)="setSelection(true)">
    <mat-icon aria-label="select_all">select_all</mat-icon>
    <span>Alle Auswählen</span>
  </button>
  <button mat-menu-item fxFlex (click)="onDeleteRecord($event)">
    <mat-icon color="warn" aria-label="delete">delete</mat-icon>
    <span>Löschen</span>
  </button>
  <button mat-menu-item fxFlex (click)="setStatus('escalated')">
    <mat-icon aria-label="escalate">arrow_upward</mat-icon>
    <span>Eskalieren</span>
  </button>
  <button mat-menu-item fxFlex (click)="setStatus('other')">
    <mat-icon aria-label="other">shopping_basket</mat-icon>
    <span>Werbung</span>
  </button>
</div>
