@mixin flex-element($size) {
  flex: 1 1 $size;
}

@mixin flex-filling-element {
  @include flex-element(100%);
}

@mixin flex-container($direction: row) {
  display: flex;
  flex-direction: $direction;
  box-sizing: border-box;
  @include flex-filling-element;
}

@mixin flex-centering-container($direction: row) {
  @include flex-container($direction);

  place-content: center;
  align-items: center;
}
