.container {
  height: 100%;
}

.scroll-column {
  overflow-y: auto;
  will-change: transform;
}

@media print {
  .left-column {
    display: none !important;
  }

  .scroll-column {
    overflow: visible;
  }
}
