<div class="container" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px">

  <div [fxShow]="showLeftColumn" class="left-column scroll-column mat-elevation-z8" fxFlex="300px" fxFlex.lt-md="1">
    <ng-content select=".left-panel"></ng-content>
  </div>
  <div [fxShow]="!showLeftColumn">
    <button mat-icon-button (click)="openLeftColumn()">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
  </div>

  <div fxFlex class="scroll-column mat-elevation-z8">
    <ng-content select=".center-panel"></ng-content>
  </div>


  <div [fxShow]="showRightColumn" class="scroll-column mat-elevation-z8" fxFlex="75%" fxFlex.lt-md="1">
    <ng-content select=".right-panel"></ng-content>
  </div>
</div>



