<div class="container" fxLayout="row"
     fxLayout.lt-sm="column"
     fxLayoutAlign="center"
     fxLayoutGap="10px"
     fxLayoutGap.lt-sm="0" droppable (onDrop)="upload($event)" (dragover)="$event.preventDefault();">

  <div fxFlex="50%" fxFlex.gt-md="35%" fxFlex.gt-lg="600px" class="scroll-column mat-elevation-z8">
    <app-document-list [records]="data" (recordClick)="selectRecord($event)"
                       (recordDbClick)="editRecord($event)"
                       (recordDelete)="deleteRecord($event)"
                       (recordDrop)="appendRecord($event)"
                       (changeRequiredAction)="setRequiredAction($event)"></app-document-list>
  </div>

  <div fxFlex class="scroll-column">
    <app-record-viewer [record]="selectedRecord" (updatePages)="updatePages($event)"></app-record-viewer>
  </div>
</div>
