<app-split-panel>
  <div class="left-panel">
    <app-document-list [records]="data" (recordClick)="selectRecord($event)"
                       (recordDbClick)="editRecord($event)"
                       (recordDelete)="deleteRecord($event)"
                       (recordDrop)="appendRecord($event)"
                       (changeRequiredAction)="setRequiredAction($event)"></app-document-list>
  </div>
  <div class="right-panel">
    <app-record-viewer [record]="selectedRecord" (updatePages)="updatePages($event)"></app-record-viewer>
  </div>
</app-split-panel>
