<div class="container" fxLayout="row"
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">

  <div fxFlex="35%" class="scroll-column mat-elevation-z8">
    <app-document-list [data]="data" (recordClick)="selectRecord($event)"
                       (recordDbClick)="editRecord($event)"
                       (recordDelete)="deleteRecord($event)"></app-document-list>
  </div>

  <div fxFlex class="scroll-column">
    <app-record-viewer [record]="selectedRecord" (changePages)="updatePages($event)"></app-record-viewer>
  </div>
</div>
