<app-split-panel>
  <div *ngIf="!(isLoading$ | async); else loading" class="left-panel"
       (dragover)="preventAll($event)" (drop)="onDrop($event)">
    <app-action-bar [hidden]="!(isMultiselect | async)"
                    (delete)="onDeleteSelectedRecords()"
                    (changeStatus)="onSetStatusOfSelectedRecords($event)"
                    (selectAll)="onSelectAllRecords($event)"></app-action-bar>
    <app-document-list [records]="records" [selectedIds]="selectedIds"
                       (selectRecords)="onSelectRecords($event)"></app-document-list>
  </div>
  <div class="right-panel">
    <app-record-viewer [record]="selectedRecord"></app-record-viewer>
  </div>
</app-split-panel>

<ng-template #loading>
  <div class="left-panel" fxLayout="row" fxLayoutAlign="center center">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
