<div *ngIf="categories | async as cats" fxLayout="column" fxLayout.gt-md="row wrap" fxLayoutAlign="center"
     fxLayoutGap="10px">
  <mat-card *ngFor="let record of records | async" fxFlex.gt-md="calc(50% - 10px)">
    <mat-card-header>
      <mat-card-title>
        <span class="mat-subheading-2">
          {{ cats[record.categoryId]?.name }}:
          <span class="mat-subheading-1 sub-heading">{{ record.tags.join(", ") }}</span>
        </span>
      </mat-card-title>
      <mat-card-subtitle>{{ record.date | date: 'mediumDate' }}</mat-card-subtitle>
    </mat-card-header>
    <img class="selectable-page" (click)="onRecordClicked(record.id)" mat-card-image [src]="record.pages[0].url">
  </mat-card>
</div>
