@import "../../../theme";
@import '~@angular/material/theming';

.sub-heading {
  color: $primary;
}

.mat-subheading-2 {
  font-weight: 500;
}

.selectable-page {
  cursor: pointer;
}

.page-container {
  @include mat-elevation(8);
  margin-bottom: 10px;
}

mat-card-header {
  border-bottom: 1px solid $accent-light;
}
