@import "theme-variables";
@import "print";
@import "global";

.sub-heading {
  color: $primary;
}

.mat-subheading-2 {
  font-weight: 500;
}

.page {
  @include mat-elevation(8);
  @include record-page();
  margin-bottom: 10px;
  min-width: 300px;
}

.action-button-bar {
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
}

mat-tab-group {
  height: 100%;
}

mat-card-header {
  border-bottom: 1px solid $accent-light;
}

@media print {
  ::ng-deep .mat-tab-header, ::ng-deep .mat-card-header {
    display: none !important;
  }

  .action-button-bar {
    display: none;
  }

  .page-container {
    @include print-record-page-container();
  }

  .page {
    @include print-record-page();
  }
}
