<mat-tab-group (selectedIndexChange)="onSelectedIndexChange($event)" [selectedIndex]="selectedIndex" fxFlexFill
               dynamicHeight="true">
  <mat-tab *ngFor="let recordGroup of groupedRecords;"
           [label]="categoryMap[recordGroup?.category]?.name">
    <ng-container [ngTemplateOutletContext]="{records: recordGroup.records, category: recordGroup.category}"
                  [ngTemplateOutlet]="page"></ng-container>
  </mat-tab>
</mat-tab-group>

<ng-template matTabContent #page let-recordsToShow="records" let-category="category">
  <div class="page-container" fxLayout="column" fxLayout.gt-md="row wrap" fxLayoutAlign="center"
       fxLayoutGap="10px">
    <mat-card fxFlex="1" fxFlex.gt-md="calc(50% - 10px)" class="page" *ngFor="let record of recordsToShow">
      <mat-card-header>
        <mat-card-title>
          <h2>
            <span *ngIf="category === 'all'">{{ categoryMap[record.category]?.name }}: </span>
            {{ record.date | date: 'mediumDate' }}
          </h2>
        </mat-card-title>
        <mat-card-subtitle>{{ record.tags.join(", ") }}</mat-card-subtitle>
        <div fxFlex="1 0 30%"></div>
        <div class="action-button-bar" fxFlex="1 0 0%">
          <button mat-icon-button color="primary" (click)="edit(record)">
            <mat-icon aria-label="Edit">edit</mat-icon>
          </button>
          <button mat-icon-button color="primary" (click)="onOpenInEditor(record)">
            <mat-icon aria-label="editor">open_in_new</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="delete(record)">
            <mat-icon aria-label="Delete">delete</mat-icon>
          </button>
        </div>
      </mat-card-header>
      <img (click)="onRecordClicked(record.id)" mat-card-image
           [src]="record.pages[0].url">
    </mat-card>
  </div>
</ng-template>
