@import "../../../theme";
@import '~@angular/material/theming';
@import "../../../print";

.sub-heading {
  color: $primary;
}

.mat-subheading-2 {
  font-weight: 500;
}

.page {
  @include mat-elevation(8);
  margin-bottom: 10px;

  img {
    cursor: pointer;
  }
}

.page-container {
  height: 100%;
  overflow-y: auto;
}

mat-card-header {
  border-bottom: 1px solid $accent-light;
}

@media print {
  ::ng-deep .mat-tab-header, ::ng-deep .mat-card-header {
    display: none !important;
  }

  .action-button-bar {
    display: none;
  }

  .page-container {
    @include record-page-container();
  }

  .page {
    @include record-page();
  }
}
