<div *ngIf="record.status == '' || record.status == 'inbox'">
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="onDeleteRecord($event, record)">
      <mat-icon color="warn" aria-label="delete">delete</mat-icon>
      <span>Löschen</span>
    </button>
    <button mat-menu-item (click)="onEditRecord(record)">
      <mat-icon aria-label="editor">open_in_new</mat-icon>
      <span>Editor</span>
    </button>
    <button mat-menu-item (click)="setStatus(record, status.ESCALATED)">
      <mat-icon aria-label="escalate">arrow_upward</mat-icon>
      <span>Eskalieren</span>
    </button>
    <button mat-menu-item (click)="setStatus(record, status.OTHER)">
      <mat-icon aria-label="other">shopping_basket</mat-icon>
      <span>Werbung</span>
    </button>
  </mat-menu>
</div>

<div *ngIf="record.status == status.ESCALATED">
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="onDeleteRecord($event, record)">
      <mat-icon color="warn" aria-label="delete">delete</mat-icon>
      <span>Löschen</span>
    </button>
    <button mat-menu-item (click)="onEditRecord(record)">
      <mat-icon aria-label="editor">open_in_new</mat-icon>
      <span>Editor</span>
    </button>
    <button mat-menu-item (click)="setStatus(record, status.INBOX)">
      <mat-icon aria-label="deescalate">arrow_downward</mat-icon>
      <span>Deeskalieren</span>
    </button>
  </mat-menu>
</div>

<div *ngIf="record.status == status.REVIEW">
  <button mat-icon-button (click)="setStatus(record, status.DONE)">
    <mat-icon aria-label="done" color="green">done</mat-icon>
  </button>
</div>

<div *ngIf="record.status == status.OTHER">
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="onDeleteRecord($event, record)">
      <mat-icon color="warn" aria-label="delete">delete</mat-icon>
      <span>Löschen</span>
    </button>
    <button mat-menu-item (click)="onEditRecord(record)">
      <mat-icon aria-label="editor">open_in_new</mat-icon>
      <span>Editor</span>
    </button>
    <button mat-menu-item (click)="setStatus(record, status.INBOX)">
      <mat-icon aria-label="deescalate">arrow_downward</mat-icon>
      <span>Inbox</span>
    </button>
  </mat-menu>
</div>
