<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>Fachrichtungen</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let category of categories$ | async">
        {{ category.name }}
        <button mat-icon-button (click)="edit(category)">
          <mat-icon>edit</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-button (click)="add()" color="primary">
      Hinzufügen
      <mat-icon>add</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
