<mat-form-field>
  <mat-chip-grid #chipList aria-label="Tag selection">
    <mat-chip-row *ngFor="let tag of values"
              [removable]="true" (removed)="remove(tag)">
      {{tag}}
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip-row>
    <input
        #chipInput
        (matChipInputTokenEnd)="add($event)"
        [formControl]="formControl"
        [matAutocomplete]="auto"
        [matChipInputAddOnBlur]="true"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        placeholder="Tags">
  </mat-chip-grid>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)" autoActiveFirstOption="true">
    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
      {{ option }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
