<div fxLayout="column">
  <div fxLayout="row">
    <mat-form-field fxFlex>
      <input matInput [(ngModel)]="fromValue" [matDatepicker]="pickerFrom" placeholder="Älter als"
             (dateInput)="setFrom($event.value)">
      <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
      <mat-datepicker #pickerFrom></mat-datepicker>
    </mat-form-field>
    <button fxFlex="40px" mat-icon-button (click)="clearFrom()">
      <mat-icon>clear</mat-icon>
    </button>
  </div>

  <div fxLayout="row">
    <mat-form-field fxFlex>
      <input matInput [(ngModel)]="untilValue" [matDatepicker]="pickerUntil" placeholder="Jünger als"
             (dateInput)="setUntil($event.value)">
      <mat-datepicker-toggle matSuffix [for]="pickerUntil"></mat-datepicker-toggle>
      <mat-datepicker #pickerUntil></mat-datepicker>
    </mat-form-field>
    <button fxFlex="40px" mat-icon-button (click)="clearUntil()">
      <mat-icon>clear</mat-icon>
    </button>
  </div>
</div>

