@import 'theme-variables';
@import "print";
@import "global";
@import "layout";

.button-group > button {
  margin-bottom: 16px;
}

.page-container {
  @include flex-element(0%);
  padding-bottom: 10px;
}

.page-container:last-of-type {
  margin-right: 10px;
}

.page {
  @include record-page();
}

.filler {
  @include flex-element(0);
}

.container {
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  place-content: stretch center;
  align-items: stretch;
  gap: 10px;

  &[viewmode=single-page] {
    flex-flow: column;
  }

  &[viewmode=multi-page] {
    flex-flow: row wrap;
  }
}

/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
mat-card-header {
  border-bottom: 1px solid $accent-light;
}

mat-card {

  & > img {
    object-fit: contain;
    width: 100%;
  }
}

@media print {
  ::ng-deep .mat-mdc-tab-header, ::ng-deep .mat-mdc-card-header {
    display: none !important;
  }

  .action-button-bar {
    display: none;
  }

  .page-container {
    @include print-record-page-container();
  }

  .page {
    @include print-record-page();
  }
}

