<div fxLayout="column" fxLayout.gt-md="row wrap" fxLayoutAlign="center" fxLayoutGap="10px"
     *ngIf="record | async; let r">
  <div class="page-container" fxFlex.gt-md="calc(50% - 10px)" *ngFor="let page of r.pages; let i = index">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Seite {{ i + 1 }}</mat-card-title>
        <mat-card-subtitle>von {{ r.pages.length }}</mat-card-subtitle>
        <div fxFlex></div>
        <button mat-icon-button color="accent" (click)="up(r.id, r.pages,i)" [disabled]="i == 0">
          <mat-icon aria-label="up">arrow_upward</mat-icon>
        </button>
        <button mat-icon-button color="accent" [disabled]="i == r.pages.length - 1">
          <mat-icon aria-label="down">arrow_downward</mat-icon>
        </button>
        <button mat-icon-button color="accent">
          <mat-icon aria-label="rotate-left">rotate_left</mat-icon>
        </button>
        <button mat-icon-button color="accent">
          <mat-icon aria-label="rotate-right">rotate_right</mat-icon>
        </button>
        <button mat-icon-button color="accent">
          <mat-icon aria-label="delete">delete</mat-icon>
        </button>
      </mat-card-header>
      <img mat-card-image [src]="page.url" [alt]="page.index">
    </mat-card>
  </div>
</div>
