@import "../../../print";

.button-group > button {
  margin-bottom: 16px;
}

.page-container {
  padding-bottom: 10px;
}

.page-container:last-of-type {
  margin-right: 10px;
}

@media print {
  ::ng-deep .mat-tab-header, ::ng-deep .mat-card-header {
    display: none !important;
  }

  .action-button-bar {
    display: none;
  }

  .page-container {
    @include record-page-container();
  }

  .page {
    @include record-page();
  }
}

