<div [fxLayout.gt-md]="viewMode" fxLayout="column" fxLayoutAlign="center" fxLayoutGap="10px">
  <div *ngFor="let page of pages; let i = index; trackBy: trackByFn" class="page-container" fxFlex>
    <mat-card class="page">
      <mat-card-header>
        <mat-card-title>Seite {{ i + 1 }}</mat-card-title>
        <mat-card-subtitle>von {{ pages.length }}</mat-card-subtitle>
        <div fxFlex></div>
        <button (click)="up(record.id, pages, i)" [disabled]="i == 0" color="primary" mat-icon-button>
          <mat-icon aria-label="up">arrow_upward</mat-icon>
        </button>
        <button (click)="down(record.id, pages, i)" [disabled]="i == pages.length - 1" color="primary" mat-icon-button>
          <mat-icon aria-label="down">arrow_downward</mat-icon>
        </button>
        <button (click)="rotate(record.id, pages, i, -90)" color="primary" mat-icon-button>
          <mat-icon aria-label="rotate-left">rotate_left</mat-icon>
        </button>
        <button (click)="rotate(record.id, pages, i, 90)" color="primary" mat-icon-button>
          <mat-icon aria-label="rotate-right">rotate_right</mat-icon>
        </button>
        <button (click)="delete(record.id, pages, i)" [disabled]="pages.length <= 1" color="warn" mat-icon-button>
          <mat-icon aria-label="delete">delete</mat-icon>
        </button>
      </mat-card-header>
      <img (click)="clickRecord.emit()" [alt]="'Page ' + i" [src]="page.url" mat-card-image>
    </mat-card>
  </div>
</div>
