<mat-sidenav-container fxFlexFill>
  <mat-sidenav #sidenav mode="side">
    <app-record-filter [categories]="availableCategories | async" [tags]="availableTags | async"
                       (change)="setFilter($event)"></app-record-filter>
    <div [hidden]="!sidenav.opened" fxFlex="40px">
      <button (click)="sidenav.toggle()" aria-label="Open Filter" color="primary" mat-icon-button>
        <mat-icon>menu_open</mat-icon>
      </button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content fxLayout="row">
    <div [hidden]="sidenav.opened" fxFlex="40px">
      <button (click)="sidenav.toggle()" aria-label="Open Filter" color="primary" mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <app-multi-record-list [@panelInOut] [categories]="categories | async" [records]="records | async"
                           [patient]="patient | async"
                           [selectedCategory]="selectedCategory | async" fxFlex
                           (selectedCategoryChange)="onSelectedCategoryChange($event)"
                           (updateRecord)="onUpdateRecord($event)"
                           (deleteRecord)="onDeleteRecord($event)"
                           (openInEditor)="onOpenInEditor($event)"
                           (clickRecord)="onSelectRecord($event)"></app-multi-record-list>
    <app-record-viewer (clickRecord)="showDetails = false" *ngIf="showDetails" [@panelInOut]
                       [record]="selectedRecord | async" fxFlex="75%"></app-record-viewer>
  </mat-sidenav-content>
</mat-sidenav-container>
