<app-three-column-panel [(showRightColumn)]="showDetails" [(showLeftColumn)]="!showDetails">
  <div class="left-panel" fxLayout="column" fxLayoutGap="0em">
    <mat-card>
      <mat-card-title>
        Fachrichtungen
      </mat-card-title>
      <mat-card-content>
        <app-category-list [categories]="categories" (select)="onSelectCategories($event)"></app-category-list>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-title>
        Tags
      </mat-card-title>
      <mat-card-content>
        <app-tag-list [tags]="tags" (select)="onSelectTags($event)"></app-tag-list>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="center-panel">
    <app-multi-record-list [records]="records" (clickRecord)="onSelectRecord($event)"></app-multi-record-list>
  </div>
  <div class="right-panel">
    <app-record-viewer [record]="selectedRecord"></app-record-viewer>
  </div>
</app-three-column-panel>
