<mat-table #table [dataSource]="dataSource">

  <ng-container matColumnDef="main">
    <mat-header-cell *matHeaderCellDef> Name</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element}}</mat-cell>
  </ng-container>

  <mat-header-row class="tag-header" style="display: none;" *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row class="selectable-row" *matRowDef="let row; columns: displayedColumns;"
           [class.selected]="selectedTags.indexOf(row) >= 0" (click)="select(row)"></mat-row>
</mat-table>

