<mat-form-field fxFlexFill>
  <mat-chip-list #chips required>
    <mat-chip *ngFor="let tag of values" [selectable]="true"
              [removable]="true" (removed)="remove(tag)">
      {{tag}}
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
    <input placeholder="Tag hinzufügen"
           matInput
           #chipInput
           [formControl]="formControl"
           [matAutocomplete]="auto"
           [matChipInputFor]="chips"
           [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
           [matChipInputAddOnBlur]="false"
           (matChipInputTokenEnd)="addChip($event)" (keydown.enter)="onSubmit($event)">
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let option of filteredOptions | async" [value]="option" (click)="addValue(option)">
      {{ option }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
