<mat-form-field fxFlexFill>
  <mat-chip-list #chipList aria-label="Fruit selection">
    <mat-chip *ngFor="let tag of values" [selectable]="true"
              [removable]="true" (removed)="remove(tag)">
      {{tag}}
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
    <input
        #chipInput
        (matChipInputTokenEnd)="add($event)"
        [formControl]="formControl"
        [matAutocomplete]="auto"
        [matChipInputAddOnBlur]="true"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        placeholder="New fruit...">
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)" autoActiveFirstOption="true">
    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
      {{ option }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
