<mat-table #table [dataSource]="dataSource" matSort>

  <ng-container matColumnDef="date">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Datum </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.date | date:'mediumDate'}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="sender">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Sender </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.sender}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="numpages">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Seiten</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.pages.length}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="comment">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Kommentar </mat-header-cell>
    <mat-cell *matCellDef="let element" [matTooltip]="element.comment"> {{ (element.comment.length>6)? (element.comment
      | slice:0:12)+'...':(element.comment)}}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef> </mat-header-cell>
    <mat-cell class="action-group" *matCellDef="let element">
      <button mat-icon-button color="accent" (click)="deleteRecord($event, element)">
        <mat-icon aria-label="done">delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectRow(row)" (dblclick)="rowDoubleClick(row)"
           [class.selected]="row.id == selectedRecordId"></mat-row>
</mat-table>
