<mat-table #table [dataSource]="dataSource" matSort>

  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="date">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Datum </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.date | date:'shortDate'}} </mat-cell>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="sender">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Sender </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.sender}} </mat-cell>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="comment">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Kommentar </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.comment}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectRow(row)"></mat-row>
</mat-table>
