<div class="main-container" fxLayout="column">
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="example-app-name">Document Manager</h1>
    <router-outlet name="navigation"></router-outlet>
  </mat-toolbar>
  <mat-sidenav-container fxFlex>
    <mat-sidenav class="side-nav" #sidenav mode="side" color="primary">
      <div fxLayout="column">
        <button mat-button routerLink="/inbox" routerLinkActive="active">
          <mat-icon>mail_outline</mat-icon>
          <span>Inbox</span>
        </button>
        <button mat-button routerLink="/physician" routerLinkActive="active">
          <mat-icon>supervisor_account</mat-icon>
          <span>Arzt</span>
        </button>
      </div>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
