<div class="main-container" fxLayout="column">
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="example-app-name">Document Manager</h1>
  </mat-toolbar>
  <mat-sidenav-container fxFlex>
    <mat-sidenav #sidenav mode="side">
      Sidenav content
    </mat-sidenav>

    <mat-sidenav-content fxLayout="row"
                         fxLayout.xs="column"
                         fxLayoutAlign="center"
                         fxLayoutGap="10px"
                         fxLayoutGap.xs="0">

      <div fxFlex="50%" class="scroll-column mat-elevation-z8">
        <app-document-list [data]="ELEMENT_DATA"></app-document-list>
      </div>

      <mat-card fxFlex="50%" class="scroll-column">
        <mat-card-header>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
      </mat-card>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
