<div class="main-container" fxLayout="column">
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="example-app-name">Document Manager</h1>
  </mat-toolbar>
  <mat-sidenav-container fxFlex>
    <mat-sidenav #sidenav mode="side">
      Sidenav content
    </mat-sidenav>

    <mat-sidenav-content fxLayout="row"
                         fxLayout.xs="column"
                         fxLayoutAlign="center"
                         fxLayoutGap="10px"
                         fxLayoutGap.xs="0">

      <div fxFlex="50%" class="scroll-column mat-elevation-z8">
        <app-document-list [data]="data" (recordClicked)="selectRecord($event)"></app-document-list>
      </div>

      <div fxFlex="50%" class="scroll-column">
        <app-record-viewer [pages]="selectedRecord?.pages"></app-record-viewer>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
