<app-split-panel>
  <div (dragenter)="onDragEnter($event)" (dragleave)="onDragLeave($event)" (dragover)="preventAll($event)"
       (drop)="onDrop($event)" *ngIf="!(isLoading$ | async); else loading" class="left-panel" id="inbox-document-list">
    <div [hidden]="!isDragInProgress" class="drag-drop-overlay centering-container">
      <div class="upload-symbol">
        <mat-icon>publish</mat-icon>
        <h1>Upload</h1>
      </div>
    </div>
    <app-document-list [records]="records$ | async" [selectedIds]="selectedIds | async"
                       (selectRecords)="onSelectRecords($event)"></app-document-list>
  </div>
  <div class="right-panel">
    <app-record-viewer [record]="selectedRecord$ | async"></app-record-viewer>
  </div>
</app-split-panel>

<ng-template #loading>
  <div class="left-panel centering-container">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
