.container {
  display: flex;
  flex: 0 0 100%;
  flex-direction: column;
  box-sizing: border-box;
  gap: 1em;
}

app-page-list {
  flex: 1 1 100%;
}

.button-row {
  flex: 1;
}

:host {
  display: flex;
  flex: 0 0 100%;
}
