/* You can add global styles to this file, and also import other style files */
$material-design-icons-font-path: "../node_modules/material-design-icons/iconfont/";
@import '~material-design-icons/iconfont/material-icons.css';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "theme.scss";
@import "print";

html, body {
  margin: 0;
}

.selected {
  background-color: $accent-light;
}

@media print {
  html, body {
    border: 1px solid white;
    page-break-after: avoid !important;
    page-break-before: avoid !important;
  }
}

@page {
  margin-bottom: .1cm;
}
