@import "../../../styles/theme-variables";

.container {
  width: 100%;
  max-width: 100%;
}

.mat-row {
  cursor: pointer;
}

.action-group {
  text-align: right;
}

.mat-icon-button:hover {
  background-color: $accent;

  .mat-icon {
    color: $accent-lighter;
  }
}

.selected {
  background-color: $accent-light;
}

.mat-row:hover {
  background-color: $accent-lighter;
}

.mat-row:focus {
  outline: none;
}

.mat-cell {
  padding-right: 5px;
  padding-left: 5px;
}
