<table #table [dataSource]="dataSource" class="container" mat-table
       matSort matSortActive="receivedAt" matSortDirection="desc" matSortDisableClear>

  <ng-container matColumnDef="receivedAt">
    <mat-header-cell fxFlex="0 0 130px" *matHeaderCellDef mat-sort-header start="desc"> Datum</mat-header-cell>
    <mat-cell fxFlex="0 0 130px" *matCellDef="let element"> {{element.receivedAt | date:'short'}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="sender">
    <mat-header-cell fxFlex *matHeaderCellDef mat-sort-header> Sender</mat-header-cell>
    <mat-cell fxFlex *matCellDef="let element"> {{element.sender}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="numpages">
    <mat-header-cell fxFlex="0 0 50px" *matHeaderCellDef> Seiten</mat-header-cell>
    <mat-cell fxFlex="0 0 50px" *matCellDef="let element"> {{element.pages.length}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="comment">
    <mat-header-cell fxFlex *matHeaderCellDef> Kommentar</mat-header-cell>
    <mat-cell fxFlex *matCellDef="let element" [matTooltip]="element.comment"> {{ (element.comment.length>6)?
      (element.comment
      | slice:0:12)+'...':(element.comment)}}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="actions">
    <mat-header-cell fxFlex="0 0 50px" *matHeaderCellDef></mat-header-cell>
    <mat-cell fxFlex="0 0 50px" class="action-group" *matCellDef="let element">
      <app-action-menu [record]="element"
                       (deleteRecord)="deleteRecord($event)"
                       (changeStatus)="setStatus($event)"
                       (editRecord)="openEditor($event)"
                       (duplicateRecord)="onDuplicateRecord($event)"></app-action-menu>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
  <mat-row (click)="selectRow(row, $event)" (dblclick)="editRecord(row)"
           *matRowDef="let row; columns: displayedColumns;"
           (dragstart)="onDragStart($event, row)"
           (drop)="onDrop($event)" [attr.recordid]="row.id" [class.selected]="selectedIds.includes(row?.id)"
           draggable="true"></mat-row>
</table>
