<mat-table *ngIf="selectedIds | async; let selectedRecordIds" #table [dataSource]="dataSource" matSort>

  <ng-container matColumnDef="date">
    <mat-header-cell fxFlex="150px" *matHeaderCellDef mat-sort-header> Datum</mat-header-cell>
    <mat-cell fxFlex="150px" *matCellDef="let element"> {{element.receivedAt | date:'short'}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="sender">
    <mat-header-cell fxFlex="70px" *matHeaderCellDef mat-sort-header> Sender</mat-header-cell>
    <mat-cell fxFlex="70px" *matCellDef="let element"> {{element.sender}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="numpages">
    <mat-header-cell fxFlex="50px" *matHeaderCellDef mat-sort-header> Seiten</mat-header-cell>
    <mat-cell fxFlex="50px" *matCellDef="let element"> {{element.pages.length}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="comment">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Kommentar </mat-header-cell>
    <mat-cell *matCellDef="let element" [matTooltip]="element.comment"> {{ (element.comment.length>6)? (element.comment
      | slice:0:12)+'...':(element.comment)}}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="actions">
    <mat-header-cell fxFlex="40px" *matHeaderCellDef></mat-header-cell>
    <mat-cell fxFlex="40px" class="action-group" *matCellDef="let element">
      <app-action-menu [record]="element"
                       (deleteRecord)="deleteRecord($event)"
                       (changeStatus)="setStatus($event)"
                       (editRecord)="openEditor($event)"></app-action-menu>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectRow(row)" (dblclick)="editRecord(row)"
           [class.selected]="isSelected(selectedRecordIds, row.id)" draggable droppable [dragData]="row"
           [dragScope]="'record'"
           [dropScope]="'record'" (onDrop)="drop(row, $event)"></mat-row>
</mat-table>
