.rotate-0 img {
  transform: rotate(0deg);
}

.rotate-90 img {
  transform: rotate(90deg) translate(20%, 0);
}

.rotate-180 img {
  transform: rotate(180deg);
}

.rotate-270 img {
  transform: rotate(270deg) translate(-20%, 0);
}
