<table #table [dataSource]="dataSource" class="container" mat-table
       matSort matSortActive="receivedAt" matSortDirection="desc" matSortDisableClear>

  <ng-container matColumnDef="receivedAt">
    <mat-header-cell  *matHeaderCellDef mat-sort-header start="desc"> Datum</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.receivedAt | date:'short'}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="sender">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Sender</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.sender}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="numpages">
    <mat-header-cell *matHeaderCellDef> Seiten</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.pages.length}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="comment">
    <mat-header-cell *matHeaderCellDef> Kommentar</mat-header-cell>
    <mat-cell *matCellDef="let element" [matTooltip]="element.comment"> {{ (element.comment.length>6)?
      (element.comment
      | slice:0:12)+'...':(element.comment)}}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell class="action-group" *matCellDef="let element">
      <app-action-menu (duplicateRecord)="onDuplicateRecord($event)"
                       (deleteRecord)="deleteRecord($event)"
                       (changeStatus)="setStatus($event)"
                       (editRecord)="openEditor($event)"
                       [hidden]="selectedIds.length > 1"
                       [record]="element"
      ></app-action-menu>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
  <mat-row (click)="selectRow(row, $event)" (dblclick)="editRecord(row)" (keydown.delete)="deleteRecord(row)"
           *matRowDef="let row; columns: displayedColumns;"
           tabindex="0"
           (dragstart)="onDragStart($event, row)"
           (dragenter)="setDragOver($event, true)"
           (dragleave)="setDragOver($event, false)"
           (drop)="onDrop($event)"
           (dragend)="onDragEnd($event)"
           [attr.recordid]="row.id"
           [class.selected]="selectedIds | contains: row?.id"
           [class.dropzone]="isDragging"
           draggable="true"></mat-row>
</table>
