@import "theme-variables";
@import "drag-drop";

.container {
  width: 100%;
  max-width: 100%;
}

.mat-mdc-row {
  cursor: pointer;
}

.action-group {
  text-align: right;
}

.mat-mdc-icon-button:hover {
  background-color: $accent;

  .mat-icon {
    color: $accent-lighter;
  }
}

.selected {
  background-color: $accent-light;
}

.container .mat-mdc-row:hover {
  background-color: $accent-lighter;
}

.mat-mdc-row:focus {
  outline: none;
}

.mat-column-numpages {
  max-width: 70px;
}

.mat-column-actions {
  max-width: 70px;
}

.dropzone {
  position: relative;

  &:after {
    content:'';
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    height: 100%;
    width: 100%;
    z-index: 101;
    opacity: 0.6;

    background: $accent-light;
    border: 1px dashed $accent;
    box-sizing: border-box;
  }
  &[dragover="true"]:after {
    background-color: $accent;
    border: 2px dashed black;
  }
}
