@import "theme-variables";

.main-container {
  height: 100vh;
}

.side-nav {
  background-color: $primary-lighter;
}

.body-container {
}

@media print {
  .main-container {
    height: 100%;
  }

  nav {
    display: none;
  }
}
