@import "../theme";

.main-container {
  height: 100vh;
}

.side-nav {
  background-color: $primary-lighter;
}

.myCustomClass md-input-container .md-errors-spacer {
  min-height: 0px !important;
}

.body-container {
  height: 100%;
}
