<div class="main-container mat-typography" fxLayout="column">
  <mat-menu #appMenu="matMenu">
    <button mat-menu-item routerLink="/inbox" routerLinkActive="active">
      <mat-icon color="primary">mail_outline</mat-icon>
      <span>Inbox</span>
    </button>
    <button mat-menu-item routerLink="/physician" routerLinkActive="active">
      <mat-icon color="primary">supervisor_account</mat-icon>
      <span>Arzt</span>
    </button>
    <button mat-menu-item (click)=navigateToCurrentPatient()>
      <mat-icon color="primary">face</mat-icon>
      <span>Patient</span>
    </button>
    <button mat-menu-item routerLink="/history" routerLinkActive="active">
      <mat-icon color="primary">history</mat-icon>
      <span>Verlauf</span>
    </button>
    <button mat-menu-item routerLink="/settings" routerLinkActive="active">
      <mat-icon color="primary">settings</mat-icon>
      <span>Einstellungen</span>
    </button>
  </mat-menu>

  <nav fxFlex="64px">
    <mat-toolbar color="primary">
      <div fxLayout="row" fxFlex="100%" fxLayoutAlign="center center">
        <button [matMenuTriggerFor]="appMenu" mat-icon-button>
          <mat-icon>more_vert</mat-icon>
        </button>
        <h1 fxHide.lt-md="true">{{ title | async }}</h1>
        <span fxFlex="20px"></span>
        <div fxFlex="1 1 auto">
          <router-outlet name="navigation"></router-outlet>
        </div>
        <app-patient-search fxShow fxHide.lt-sm (selectPatient)="onSelectPatient($event)" [value]="'3'"></app-patient-search>
      </div>
    </mat-toolbar>
  </nav>

  <div class="body-container" fxFlex="calc(100% - 64px)">
    <router-outlet></router-outlet>
  </div>
</div>
